<a href="https://colab.research.google.com/github/smbillah/ist526/blob/main/starter_code_4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Essential Libraries

In [18]:
# python visualization libraries
import matplotlib.pyplot as plt
import matplotlib as mpl
# from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
import plotly.express as px
%matplotlib inline

import pandas as pd
import numpy as np

import plotly.express as px
import plotly.graph_objects as go
import plotly.subplots as subplots

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Steps to High Dimensional Data Reduction

## Loading data

### Loading large dataset from Google Drive
For large-scale datasets, it is not possible to load them from GitHub due to network traffics and latency. So, we need to load them from  Google Drive. Steps are shown below.

**Make sure you to comment the following blocks if you are loading data from GitHub.

### Mounting Google Drive

In [19]:
import os

# mount drive
from google.colab import drive
drive.mount('/content/drive')


# edit this path if needed
my_path = '/content/drive/My Drive/Colab Notebooks/'

# change to this path
os.chdir(my_path)

# verify present working directory. It should be identical to 'my_path'
!pwd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Colab Notebooks

### Loading a .csv file from the 'data' folder in Google Drive

In [20]:
## assuming you have a 'data' folder in your 'My Drive/Colab Notebooks' folder, where a dataset (e.g., 'california_cities.csv') exists
## if you don't have the 'data' folder, create one

df = pd.read_csv('data/mnist_test.csv')


display(df.head())
display(df.tail())

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
9995,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Preprocessing 1: data cleaning

In [21]:
# removing non-numeric, unwanted columns, and rows with missing data
# df = df.drop(['Unnamed: 0', 'city', 'latd', 'longd'], axis = 1)
df = df.drop(['label'], axis = 1)



# removing rows with empty values
df.dropna(inplace=True)
display(df.head())

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# summary
df.describe()

## Create X from the dataframe

In [22]:
## making X
X = df.values

## Preprocessing 3 : Run different distance metrics
Documentation: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.distance_metrics.html#sklearn.metrics.pairwise.distance_metrics

Try each of the following metric: ['cityblock', 'cosine', 'euclidean', 'haversine']

In [ ]:
from sklearn.metrics.pairwise import *

# i'm running two metric. but you need to try others to find the best result
X1 = pairwise_distances(X, metric = 'cityblock') # feel free to change
X2 = pairwise_distances(X, metric = 'euclidean') # feel free to change

# X3 = pairwise_distances(df, metric = 'cosine') # feel free to change
# X4 = pairwise_distances(df, metric = 'haversine') # feel free to change

print(X1.shape, X2.shape)
print(X1)

# Q.4.1.1: Use MDS with different distance metrics (side-by-side) to find the best visualization that clearly shows 10 separable clusters

In [ ]:
from sklearn.manifold import MDS

## use'dissimilarity'='precomputed'; otherwise 'eucledian' distance will be used by default
model = MDS(n_components=2, dissimilarity='precomputed')

## run dimensionality reduction 
reduced_dims1 = model.fit_transform(X1)
reduced_dims2 = model.fit_transform(X2)

## create a subplot with nrow and ncol
nrow = 1
ncol = 2
figs = subplots.make_subplots(rows=nrow, cols=ncol)

## create individual plot first
fig1 = go.Scatter(x = reduced_dims1[:, 0], y = reduced_dims1[:, 1], mode="markers", name="mds_cityblock")
fig2 = go.Scatter(x = reduced_dims2[:, 0], y = reduced_dims2[:, 1], mode="markers", name="mds_euclidean")

## add individual plots to subplot
figs.add_trace(fig1, row=1, col=1) 
figs.add_trace(fig2, row=1, col=2) 

## adjust height and width of subplot
figs.update_layout(
  autosize=False,
  width=600 * ncol,
  height=600 * nrow,
)

# # visualize  subplot
figs.show()

Interpretation: ??

# Q.4.1.2: Use  t-SNE with different metrics and perplexity (side-by-side) to find the best visualization that clearly shows 10 separable clusters

In [ ]:
from sklearn.manifold import TSNE

## use 'metric'='precomputed'; otherwise 'eucledian' distance will be used by default
model1 = TSNE(n_components=2,  metric='precomputed', perplexity = 30) # feel free to change
model2 = TSNE(n_components=2, metric='precomputed', perplexity = 50) # feel free to change

## run dimensionality reduction model
reduced_dims11 = model1.fit_transform(X1)
reduced_dims12 = model1.fit_transform(X2)

reduced_dims21 = model2.fit_transform(X1)
reduced_dims22 = model2.fit_transform(X2)

## create a subplot
nrow = 2
ncol = 2
figs = subplots.make_subplots(rows=nrow, cols=ncol)

## create individual plot
fig11 = go.Scatter(x = reduced_dims11[:, 0], y = reduced_dims11[:, 1], mode="markers", name="tsne_cityblock_prelexity_30") 
fig12 = go.Scatter(x = reduced_dims12[:, 0], y = reduced_dims12[:, 1], mode="markers", name="tsne_euclidean_prelexity_30")

fig21 = go.Scatter(x = reduced_dims21[:, 0], y = reduced_dims21[:, 1], mode="markers", name="tsne_cityblock_prelexity_50")
fig22 = go.Scatter(x = reduced_dims22[:, 0], y = reduced_dims22[:, 1], mode="markers", name="tsne_euclidean_prelexity_50")

## add individual plots to subplot
figs.add_trace(fig11, row=1, col=1) 
figs.add_trace(fig12, row=1, col=2) 

figs.add_trace(fig21, row=2, col=1) 
figs.add_trace(fig22, row=2, col=2) 

## adjust height and width of subplot
figs.update_layout(
  autosize=False,
  width=600 * ncol,
  height=600 * nrow,
)

## visualize  subplot
figs.show()

Interpretation: ??